* {
  font-family: sans-serif;
}

.container-count-buttons {
  text-align: center;
  margin: 5em;
}

.container-count {
  color: black;
  font-size: 3em;
}

.container-buttons button {
  border-radius: 0;
  border: 0;
  margin: 1em;
  width: 10em;
  padding: 1.2em;
  background-color: rgb(77, 145, 240);
  color: white;
  font-size: 1em;
}
