* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-count-buttons {
  text-align: center;
  margin: 2em 10em;
  padding: 4em 0 3em 0;
  background-color: rgb(233, 233, 233);
}

.wrapper-count {
  font-size: 3em;
}

button {
  border-radius: 0;
  border: 0;
  margin: 1em;
  width: 10em;
  padding: 1.2em;
  background-color: rgb(77, 145, 240);
  color: white;
  font-size: 1em;
}
